## Customer Retention EDA Predict 2011

In [1]:
# Import libaries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('CO_2010.csv')

In [7]:
df.head()

,Age,City,StateProvinceCode,PostalCode,CustomerLifetimeSpend,Customer1YearSpend,Customer3YearSpend,IsDeleted,ThreeYearVisitCount,SkiAbility,...,February,March,April,November,December,Ski_Resort1,Ski_Resort2,Ski_Resort3,Ski_Resort4,Ski_Resort5
0,22,Fort Collins,CO,80526,1261.08,8.79,1070.79,False,23.0,NaN,...,2,0,0,0,0,0,0,0,0,2
1,57,Fraser,CO,80442,8243.34,1197.00,3382.34,False,16.0,NaN,...,10,0,0,0,0,0,0,0,0,10
2,68,Denver,CO,80211,4691.67,918.03,2199.67,False,13.0,NaN,...,0,1,0,1,1,0,0,0,0,5
3,39,Fort Collins,CO,80525,3798.48,678.00,1406.48,False,13.0,NaN,...,0,0,0,1,5,0,0,0,0,9
4,31,Parker,CO,80138,2641.13,0.00,886.13,False,21.0,NaN,...,0,0,2,0,1,0,0,0,0,3

In [9]:
df.columns

Index(['Age', 'City', 'StateProvinceCode', 'PostalCode',
       'CustomerLifetimeSpend', 'Customer1YearSpend', 'Customer3YearSpend',
       'IsDeleted', 'ThreeYearVisitCount', 'SkiAbility',
       'NearestMajorAirportCode', 'SkiLoyaltyIndexRating', 'IsWinterGuest',
       'IsSummerGuest', 'FrontRangeMarket', 'CustId', 'Spend_Winter_2010',
       'Spend_Winter_2011', 'Spend_Winter_2012', 'Spend_Winter_2013',
       'Spend_Winter_2014', 'Spend_Winter_2015', 'Household1YearSpend',
       'Household3YearSpend', 'HouseholdLifetimeSpend', 'HouseholdIncome',
       'NumberOfHouseholdMembers', 'NumberOfAdults', 'NumberOfChildren',
       'HouseholdCreateDate', 'Pass_Winter_2010', 'Pass_Winter_2011',
       'Pass_Winter_2012', 'Pass_Winter_2013', 'Pass_Winter_2014',
       'Pass_Winter_2015', 'January', 'February', 'March', 'April', 'November',
       'December', 'Ski_Resort1', 'Ski_Resort2', 'Ski_Resort3', 'Ski_Resort4',
       'Ski_Resort5'],
      dtype='object')

In [10]:
df.dtypes

Age                           int64
City                         object
StateProvinceCode            object
PostalCode                   object
CustomerLifetimeSpend       float64
Customer1YearSpend          float64
Customer3YearSpend          float64
IsDeleted                      bool
ThreeYearVisitCount         float64
SkiAbility                   object
NearestMajorAirportCode      object
SkiLoyaltyIndexRating       float64
IsWinterGuest                object
IsSummerGuest                object
FrontRangeMarket            float64
CustId                        int64
Spend_Winter_2010           float64
Spend_Winter_2011           float64
Spend_Winter_2012           float64
Spend_Winter_2013           float64
Spend_Winter_2014           float64
Spend_Winter_2015           float64
Household1YearSpend         float64
Household3YearSpend         float64
HouseholdLifetimeSpend      float64
HouseholdIncome             float64
NumberOfHouseholdMembers    float64
NumberOfAdults              float64
NumberOfChildren            float64
HouseholdCreateDate          object
Pass_Winter_2010              int64
Pass_Winter_2011              int64
Pass_Winter_2012              int64
Pass_Winter_2013              int64
Pass_Winter_2014              int64
Pass_Winter_2015              int64
January                       int64
February                      int64
March                         int64
April                         int64
November                      int64
December                      int64
Ski_Resort1                   int64
Ski_Resort2                   int64
Ski_Resort3                   int64
Ski_Resort4                   int64
Ski_Resort5                   int64
dtype: object

In [11]:
df.shape

(14115, 47)

In [15]:
df.isnull().sum()

Age                             0
City                            1
StateProvinceCode               0
PostalCode                     43
CustomerLifetimeSpend           0
Customer1YearSpend              0
Customer3YearSpend              0
IsDeleted                       0
ThreeYearVisitCount           121
SkiAbility                  14041
NearestMajorAirportCode       157
SkiLoyaltyIndexRating         121
IsWinterGuest                 121
IsSummerGuest                 121
FrontRangeMarket              121
CustId                          0
Spend_Winter_2010               0
Spend_Winter_2011               0
Spend_Winter_2012               0
Spend_Winter_2013               0
Spend_Winter_2014               0
Spend_Winter_2015               0
Household1YearSpend             0
Household3YearSpend             0
HouseholdLifetimeSpend          0
HouseholdIncome             14115
NumberOfHouseholdMembers       55
NumberOfAdults                 55
NumberOfChildren               55
HouseholdCreateDate             0
Pass_Winter_2010                0
Pass_Winter_2011                0
Pass_Winter_2012                0
Pass_Winter_2013                0
Pass_Winter_2014                0
Pass_Winter_2015                0
January                         0
February                        0
March                           0
April                           0
November                        0
December                        0
Ski_Resort1                     0
Ski_Resort2                     0
Ski_Resort3                     0
Ski_Resort4                     0
Ski_Resort5                     0
dtype: int64

In [41]:
X = ['Age', 'City', 'StateProvinceCode', 'PostalCode', 'CustomerLifetimeSpend', 'Customer1YearSpend',
    'Customer3YearSpend', 'ThreeYearVisitCount', 'SkiLoyaltyIndexRating', 'IsWinterGuest',
    'IsSummerGuest', 'FrontRangeMarket', 'Spend_Winter_2010', 'Household1YearSpend',
    'Household3YearSpend', 'HouseholdLifetimeSpend', 'NumberOfHouseholdMembers', 'NumberOfAdults', 
    'NumberOfChildren', 'Pass_Winter_2010', 'January', 'February', 'March', 'April', 'November',
    'December', 'Ski_Resort1', 'Ski_Resort2', 'Ski_Resort3', 'Ski_Resort4', 'Ski_Resort5','Pass_Winter_2011']

In [14]:
#Y = ['Pass_Winter_2011']

In [32]:
df[X].isnull().sum()

Age                         0
City                        1
StateProvinceCode           0
PostalCode                  0
CustomerLifetimeSpend       0
Customer1YearSpend          0
Customer3YearSpend          0
ThreeYearVisitCount         0
SkiLoyaltyIndexRating       0
IsWinterGuest               0
IsSummerGuest               0
FrontRangeMarket            0
Spend_Winter_2010           0
Household1YearSpend         0
Household3YearSpend         0
HouseholdLifetimeSpend      0
NumberOfHouseholdMembers    0
NumberOfAdults              0
NumberOfChildren            0
Pass_Winter_2010            0
January                     0
February                    0
March                       0
April                       0
November                    0
December                    0
Ski_Resort1                 0
Ski_Resort2                 0
Ski_Resort3                 0
Ski_Resort4                 0
Ski_Resort5                 0
dtype: int64

In [34]:
df['ThreeYearVisitCount'].fillna(0, inplace = True)
df['SkiLoyaltyIndexRating'].fillna(0, inplace = True)
df['IsWinterGuest'].fillna(0, inplace = True)
df['IsSummerGuest'].fillna(0, inplace = True)
df['NumberOfHouseholdMembers'].fillna(1, inplace = True)
df['NumberOfAdults'].fillna(1, inplace = True)
df['NumberOfChildren'].fillna(0, inplace = True)
df['PostalCode'].fillna('80402', inplace = True)
df['FrontRangeMarket'].fillna('80402', inplace = True)
df['City'].fillna('Unknown', inplace = True)

In [29]:
#df['PostalCode'].isnull()
df[df['PostalCode'].isnull()]

Empty DataFrame
Columns: [Age, City, StateProvinceCode, PostalCode, CustomerLifetimeSpend, Customer1YearSpend, Customer3YearSpend, IsDeleted, ThreeYearVisitCount, SkiAbility, NearestMajorAirportCode, SkiLoyaltyIndexRating, IsWinterGuest, IsSummerGuest, FrontRangeMarket, CustId, Spend_Winter_2010, Spend_Winter_2011, Spend_Winter_2012, Spend_Winter_2013, Spend_Winter_2014, Spend_Winter_2015, Household1YearSpend, Household3YearSpend, HouseholdLifetimeSpend, HouseholdIncome, NumberOfHouseholdMembers, NumberOfAdults, NumberOfChildren, HouseholdCreateDate, Pass_Winter_2010, Pass_Winter_2011, Pass_Winter_2012, Pass_Winter_2013, Pass_Winter_2014, Pass_Winter_2015, January, February, March, April, November, December, Ski_Resort1, Ski_Resort2, Ski_Resort3, Ski_Resort4, Ski_Resort5]
Index: []

[0 rows x 47 columns]

In [33]:
df[df['City'].isnull()]

,Age,City,StateProvinceCode,PostalCode,CustomerLifetimeSpend,Customer1YearSpend,Customer3YearSpend,IsDeleted,ThreeYearVisitCount,SkiAbility,...,February,March,April,November,December,Ski_Resort1,Ski_Resort2,Ski_Resort3,Ski_Resort4,Ski_Resort5
12792,53,NaN,CO,00008,5839.27,2251.37,4263.27,False,16.0,NaN,...,4,2,1,2,5,0,0,0,0,16

In [40]:
#[df['City'] == 'Unknown']
np.sum(df['City'] == 'Unknown')

38

In [48]:
df['IsSummerGuest'] = np.where(df.IsSummerGuest == 'True', 1,0)
#df['D'] = np.where((df.A=='blue') & (df.B=='red') & (df.C=='square'), 'succeed')

In [54]:
df['IsSummerGuest'].value_counts()

0    14115
Name: IsSummerGuest, dtype: int64

In [53]:
df['IsWinterGuest'].value_counts()

True    13815
0         300
Name: IsWinterGuest, dtype: int64

In [60]:
#df['IsWinterGuest'] = 
np.where(df['IsWinterGuest'] == 'True',1)

ValueError: either both or neither of x and y should be given

In [43]:
df[X].dtypes

Age                           int64
City                         object
StateProvinceCode            object
PostalCode                   object
CustomerLifetimeSpend       float64
Customer1YearSpend          float64
Customer3YearSpend          float64
ThreeYearVisitCount         float64
SkiLoyaltyIndexRating       float64
IsWinterGuest                object
IsSummerGuest                object
FrontRangeMarket             object
Spend_Winter_2010           float64
Household1YearSpend         float64
Household3YearSpend         float64
HouseholdLifetimeSpend      float64
NumberOfHouseholdMembers    float64
NumberOfAdults              float64
NumberOfChildren            float64
Pass_Winter_2010              int64
January                       int64
February                      int64
March                         int64
April                         int64
November                      int64
December                      int64
Ski_Resort1                   int64
Ski_Resort2                   int64
Ski_Resort3                   int64
Ski_Resort4                   int64
Ski_Resort5                   int64
Pass_Winter_2011              int64
dtype: object

In [42]:
pd.DataFrame(df[X]).to_csv('CO_2010_clean.csv', index=False)

## EDA on the 2014_2015 file

In [70]:
df = pd.read_csv('CO_2014_2015.csv')

In [71]:
df.shape

(24838, 38)

In [72]:
df.columns

Index(['Age', 'StateProvinceCode', 'CustomerLifetimeSpend',
       'Customer1YearSpend', 'Customer3YearSpend', 'ThreeYearVisitCount',
       'SkiLoyaltyIndexRating', 'FrontRangeMarket', 'CustId',
       'Spend_Winter_2010', 'Spend_Winter_2011', 'Spend_Winter_2012',
       'Spend_Winter_2013', 'Spend_Winter_2014', 'Spend_Winter_2015',
       'Household1YearSpend', 'Household3YearSpend', 'HouseholdLifetimeSpend',
       'NumberOfHouseholdMembers', 'NumberOfAdults', 'NumberOfChildren',
       'Pass_Winter_2010', 'Pass_Winter_2011', 'Pass_Winter_2012',
       'Pass_Winter_2013', 'Pass_Winter_2014', 'Pass_Winter_2015',
       'January_15', 'February_15', 'March_15', 'April_15', 'November_14',
       'December_14', 'Ski_Resort1_2014_2015', 'Ski_Resort2_2014_2015',
       'Ski_Resort3_2014_2015', 'Ski_Resort4_2014_2015',
       'Ski_Resort5_2014_2015'],
      dtype='object')

In [75]:
cols = ['Age', 'CustomerLifetimeSpend',
       'Customer1YearSpend', 'Customer3YearSpend', 'ThreeYearVisitCount',
       'SkiLoyaltyIndexRating', 'FrontRangeMarket',
       'Spend_Winter_2010', 'Spend_Winter_2011', 'Spend_Winter_2012',
       'Spend_Winter_2013', 'Spend_Winter_2014', 'Spend_Winter_2015',
       'Household1YearSpend', 'Household3YearSpend', 'HouseholdLifetimeSpend',
       'NumberOfHouseholdMembers', 'NumberOfAdults',
       'NumberOfChildren', 'Pass_Winter_2010', 'Pass_Winter_2011',
       'Pass_Winter_2012', 'Pass_Winter_2013', 'Pass_Winter_2014', 'January_15', 'February_15', 'March_15',
       'April_15', 'November_14', 'December_14', 'Ski_Resort1_2014_2015',
       'Ski_Resort2_2014_2015', 'Ski_Resort3_2014_2015', 'Ski_Resort4_2014_2015', 'Ski_Resort5_2014_2015']

In [76]:
df[cols].dtypes

Age                           int64
CustomerLifetimeSpend       float64
Customer1YearSpend          float64
Customer3YearSpend          float64
ThreeYearVisitCount           int64
SkiLoyaltyIndexRating       float64
FrontRangeMarket              int64
Spend_Winter_2010           float64
Spend_Winter_2011           float64
Spend_Winter_2012           float64
Spend_Winter_2013           float64
Spend_Winter_2014           float64
Spend_Winter_2015           float64
Household1YearSpend         float64
Household3YearSpend         float64
HouseholdLifetimeSpend      float64
NumberOfHouseholdMembers      int64
NumberOfAdults                int64
NumberOfChildren              int64
Pass_Winter_2010              int64
Pass_Winter_2011              int64
Pass_Winter_2012              int64
Pass_Winter_2013              int64
Pass_Winter_2014              int64
January_15                    int64
February_15                   int64
March_15                      int64
April_15                      int64
November_14                   int64
December_14                   int64
Ski_Resort1_2014_2015         int64
Ski_Resort2_2014_2015         int64
Ski_Resort3_2014_2015         int64
Ski_Resort4_2014_2015         int64
Ski_Resort5_2014_2015         int64
dtype: object

In [77]:
df[cols].isnull().sum()

Age                         0
CustomerLifetimeSpend       0
Customer1YearSpend          0
Customer3YearSpend          0
ThreeYearVisitCount         0
SkiLoyaltyIndexRating       0
FrontRangeMarket            0
Spend_Winter_2010           0
Spend_Winter_2011           0
Spend_Winter_2012           0
Spend_Winter_2013           0
Spend_Winter_2014           0
Spend_Winter_2015           0
Household1YearSpend         0
Household3YearSpend         0
HouseholdLifetimeSpend      0
NumberOfHouseholdMembers    0
NumberOfAdults              0
NumberOfChildren            0
Pass_Winter_2010            0
Pass_Winter_2011            0
Pass_Winter_2012            0
Pass_Winter_2013            0
Pass_Winter_2014            0
January_15                  0
February_15                 0
March_15                    0
April_15                    0
November_14                 0
December_14                 0
Ski_Resort1_2014_2015       0
Ski_Resort2_2014_2015       0
Ski_Resort3_2014_2015       0
Ski_Resort4_2014_2015       0
Ski_Resort5_2014_2015       0
dtype: int64